<div class="skeleton-header"></div>
<div class="detail-grid">
    <div class="pokemon-image">
        <div class="skeleton-image"></div>
    </div>
    <div class="pokemon-info">
        <h3>Tipo</h3>
        <mat-chip-listbox>
            <div class="skeleton-chip"></div>
            <div class="skeleton-chip"></div>
        </mat-chip-listbox>

        <h3>Habilidades</h3>
        <mat-chip-listbox>
            <div class="skeleton-chip"></div>
        </mat-chip-listbox>

        <h3>Estadísticas Base</h3>
        <div class="chart-container">
            <div class="skeleton-chart"></div>
        </div>
    </div>
</div>